$value: blue;

.one {
    // 권장하지 않음. 기존의 전역변수로 선언한 것을 무시함.
    $value: red !global;
    color: $value;

    .three {
        background-color: $value;
    }
}

.two {
    color: $value;
}

@mixin fontSize($size, $row:null, $w:inherit) {
    // $size: $size * 0.9;
    font-size: $size + px;
    font-weight:$w;

    // 폰트 사이즈가 38이상이면 자간을 -2.4px로 한다.
    @if ($size >=38) {
        letter-spacing: -2.4px;
    }

    @else if ($size >=28) {
        letter-spacing: -1px;
    }

    @else if ($size >=18) {
        letter-spacing: -0.5px;
    }

    // line-height 설정
    @if ($row !=null) {
        line-height: $row;
    }

    @include media(600) {
        $size: $size * 0.15;
        font-size: $size + vw;
    }

    @include media(480) {
        $size: $size * 1.3;
        font-size: $size + vw;
    }

    @include media(375) {
        $size: $size * 1.05;
        font-size: $size + vw;
    }

    /*
    @else {
        $lineHeight: $size + 10 + px;
        line-height: $lineHeight;
    }
    */
}

@mixin flex($align:null, $way:row) { 
    display:flex;
    flex-direction:$way;
    @content;
    @if( #{$align} == 'center') {
        justify-content:center;
        align-items:center;
    } @else if ( #{$align} == 'leftCenter') {
        align-items:center;
    } @else if (#{$align} == 'spaceCenter') {
        justify-content:space-between;
        align-items:center;
    } @else if (#{$align} == 'space') {
        justify-content:space-between;
    }
}