@mixin flex($direction) {
    display: flex;
    justify-content: $direction;
    align-items: $direction;
}

@mixin item($length, $radius) {
    width: $length;
    height: $length;
    border-radius: $radius;
}

.card {
    @include flex(center);
}

.card-item {
    @include item(100px, 10%)
}

.product {
    @include flex(right);
}

.product-item {
    @include item(200px, 20%)
}