* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

button {
    border: 0;
    cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

.bd {
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(100, 100, 111, 0.4);
}

main {
    background: #F2E9D8;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

nav{
    display: flex;
}

.btn {
    display: inline-block;
    border-radius: 40px;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #D97652;
    color: white;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

section {
    display: flex;
    align-items: center;
}

.section1 {
    justify-content: space-between;
}

.section1 p{
    margin: 40px 0;
    
}

.section1 h2 {
    font-size: 48px;
    line-height: 60px;
}


.section2 {
    padding: 80px 0 120px 0;
}

.section2 {
    gap: 128px;
}

.section2 h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 30px;
}

.section3 {
    flex-direction: column;
    
    
}

.section3 h2{
    font-size: 48px;
    font-weight: 700;
    color: #D97652;
    margin-bottom: 40px;
    text-align: center;
}

.section3>p {
    text-align: center;
}

.section3>p>span {
    color: #D97652;
}

.section3 ul {
    display: flex;
    gap: 72px;
    margin: 90px 0;
}

.section3-box {
    display: flex;
    margin-bottom: 90px;
    gap: 52px;
    align-items: center;
}

.section3-box>p {
    text-align: initial;
}

.bg-cat {
    background: url("./img/img_5.svg") center/cover no-repeat;
    height: 340px;
}

.section4-box {
    background: #263140;
    color: white;
    margin-bottom: -100px;
    padding: 50px 58px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 148px;
    align-items: center;
}

.section4-box>.form-dec>h3 {
    font-size: 36px;
    margin-bottom: 18px;
}

.section4-box>.form-dec>p {
    font-size: 14px;
    color: #F2E9D8;
}

.form-email {
    position: relative;
    flex-grow: 1;
}

.input-email {
    border-radius: 60px;
    background: #fff;
    padding: 20px 270px 20px 68px;
    color: #767676;
    border: solid 1px black;
}

.form-email::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 28px;
    width: 24px;
    height: 24px;
    z-index: 1;
    background: url('./img/icon_mail.png') no-repeat;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.form-email .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}

footer .hyper-link {
    display: flex;
    gap: 20px;
}

@media (max-width: 800px) {
    br{
        display: inline-block;
        content: " ";
        padding: 0 2px;
     }
    .wrap {
        padding: 0 20px;
    }
    nav {
        display: none;
    }
    header h1 {
        font-size: 24px;
    }
    section {
        flex-direction: column;
        text-align: center;
    }
    .section2-box {
        text-align: initial;
    }
    .section3-box {
        flex-direction: column;
        align-items: end;
    }
    .section3 ul {
        margin: 40px 0 60px 0;
        gap: 10px;
    }
    .section3 ul li img {
        
    }
}