/* 공통 */
body {
  margin: 0;
  background: #fff0d1;
}

button {
  border: 0;
}
button:not(:disabled) {
  cursor: pointer;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* button btn- 부터 시작하는 class 전부 */
[class^="btn"] {
  display: inline-block;
  padding: 1em 1em 1em 1em;
  text-decoration: none;
  color: #5a6a72;
}

.btn-join {
  background: url(./asset/images/icon-join.svg) no-repeat 0.8em center/ 2em;
}

.btn-logout {
  background: url(./asset/images/icon-logout.svg) no-repeat 0.8em center/ 2em;
}

.btn-login {
  background: url(./asset/images/icon-login.svg) no-repeat 0.8em center/ 2em;
}

.black-btn {
  display: block;
  width: 100%;
  background: #29363d;
  color: white;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}

/* disabled가 아닐때만 커서 포인트를 줌 */
/* .black-btn:not(:disabled) {
    cursor: pointer;
  } */

button:disabled {
  opacity: 0.2;
}

/* form */
.label-style,
.input-style,
button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input-style {
  /* border-width: 0 0 1px 0;
      border-color: #677880; */
  border: none;
  box-shadow: 0 1px 0 0 #677880;
  height: 48px;
  /* margin-bottom: 24px; */
  transition: box-shadow 0.2s;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  font-size: 16px;
}

.input-style:hover {
  /* border-color: #2e6ff2;
      border-bottom-width: 2px; */
  box-shadow: 0 2px 0 0 #2e6ff2;
}
.input-style:focus {
  /* border 바깥 외곽선 */
  outline: none;
  /* border: 2px solid #2e6ff2; */
  box-shadow: 0 0 0 2px #2e6ff2;
  border-radius: 4px;
}

.label-style {
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}

/* layout ------------------------------- */
/* header */
header {
  background-color: white;
}
.header-wrap {
  width: 1224px;
  height: 120px;
  max-width: calc(100% - 60px);
  margin: auto;
  /* padding: 22px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 75px;
}

.hello {
  display: inline-block;
}

.hello strong {
  box-shadow: inset 0 -0.6em rgba(230, 55, 87, 0.2);
  border-bottom: 2px solid #ff4f6e;
}

@media (min-width: 541px) {
  .hello::after {
    content: "|";
    color: #d8ddde;
    margin-left: 24px;
  }
}

@media (max-width: 540px) {
  .hello {
    position: absolute;
    top: 140px;
    right: 34px;
  }
}

.svg {
  display: block;
  width: auto;
  height: 120px;
  margin: 0 auto 20px;
}
.svg .svg-heart {
  transform: scale(1);
  stroke: transparent;
  stroke-width: 0px;
  transform-origin: 50% 20px;
  z-index: 10;
  animation: heart 0.5s cubic-bezier(0.23, 1.08, 0.26, 0.01) infinite alternate;
}

@keyframes heart {
  to {
    stroke: #ffc7d1;
    stroke-width: 2px;
    transform: scale(3);
  }
}
