@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    color: inherit;
}

ul,
li {
    list-style: none;
}

button {
    background: none;
    font: inherit;
    cursor: pointer;
}

img {
	width: 100%;
	vertical-align: top;
}

a {
    text-decoration: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
    background: #ededed;
    font-family: "Spoqa Han Sans Neo", sans-serif;
}

.wrap {
    background: #fff;
    max-width: 520px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    position: relative; 
}

header {
    padding: 20px 0 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
}

header h1 {
    font-size: 16px;
    font-weight: 500;
}

/* .line {
    display: block;
    height: 100%;
} */

main {
    padding: 26px 24px 25px 24px;
}

.module-input {
    display: flex;
    flex-direction: column;

}

.login-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    border-radius: 5px;
    border: solid 1px #c4c4c4;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
}

.error-input {
    margin: 6px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: #f4492e;
}

.login-btn {
    height: 50px;
    background: #2f80ed;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 20px 0;
}

.join-find {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}

.join-find span {
    margin: 0 12px;
}

.container-login-another {
    margin-top: 30px;
    border-top: solid 1px #c4c4c4;
    padding-top: 29px;
    position: relative;
}

.container-login-another::before {
    content: '또는';
    display: inline-block;
    width: 3em;
    height: 1em;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
}

.link-sns-login {
    display: block;
    padding: 15px 14px;
    /* border: 1px solid #767676; */
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #767676;
}

[class^="icon"]::before {
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
}

.icon-google {
    border: 1px solid #2D9CDB;
}

.icon-naver {
    border: 1px solid #00BF18;
}

.icon-kakao {
    border: 1px solid #F2C94C;
}

.icon-facebook {
    border: 1px solid #f4492e;
}

.icon-google::before {
    background: url("./img/Google.svg") no-repeat;
}

.icon-naver::before {
    background: url("./img/Naver.svg") no-repeat;
}

.icon-kakao::before {
    background: url("./img/Kakao.svg") no-repeat;
}

.icon-facebook::before {
    background: url("./img/facebook.svg") no-repeat;
}

.sns-login li:nth-child(even) {
    margin: 10px 0;
}

.btn-close {
    position: absolute;
    top: 22px;
    right: 24px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}