.heart {
  background: url("../img/heart.svg") no-repeat 0 center / 1.4em;
  padding-left: 1.4em;
}

.diary-textarea {
  /* 인라인이라서 밑에 여백이 생김 */
  display: block;
  /* vertical-align: top; 도 가능 */
  width: 100%;
  height: 360px;
  resize: none;
  padding: 16px;
  box-sizing: border-box;
  font-size: 16px;
  /* 부모 속성 따라받음 */
  font-family: inherit;
}

.diary-textarea::placeholder {
  font-size: inherit;
}

.diary-main textarea {
  margin: 16px 0;
}

/* article */
/* ul, li reset */
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h3 {
  margin: 0;
}

.diary-article {
  border-color: #677889;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  padding: 64px 48px;
  position: relative;
  /* 수정예정 */
  /* margin: 20px; */
}

.diary-article::before,
.diary-article::after {
  /* 요소앞에 빈자식을 놔둠(내용이 없는 빈박스) */
  content: "";
  display: block;
  width: 80px;
  height: 40px;
  background: royalblue;
  position: absolute;
}

.diary-article::before {
  background: #fff0d1 url("../img/quote-start.svg") no-repeat 0 0 / contain;
  top: -20px;
  left: 30px;
}
.diary-article::after {
  background: #fff0d1 url("../img/quote-end.svg") no-repeat 0 0 / contain;
  bottom: -20px;
  right: 30px;
}

.article-title {
  color: #29383a;
  font-size: 16px;
  float: left;
}

.article-title::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  border-top: 1px solid #677880;
  top: 4px;
  left: 0;
  z-index: -1;
}

.article-time {
  color: #677880;
  font-size: 12px;
  float: right;
}

.article-content {
  color: #5a6a72;
  font-size: 14px;
  line-height: 1.4;
  clear: both;
  margin-top: 40px;
}

.container {
  display: flex;
  width: 1224px;
  max-width: calc(100% - 60px);
  margin: auto;
  gap: 40px;
}

.container main {
  /* 메인 영역의 크기 설정 */
  flex-basis: 456px;
  /* 더 이상 줄어들지 않게 함 */
  flex-shrink: 0;
  border-right: 1px solid #ff4f6e;
  padding-top: 56px;
  padding-right: 40px;
  /* header부분의 높이값 만큼 뺌 */
  min-height: calc(100vh - 120px);
  /* 그 크기 이상 안늘어나게 */
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 0;
  }
  .container main {
    border-right: 0;
    padding-right: 0;
    min-height: auto;
  }
}

.container section {
  padding-top: 94px;
}

.container section ul li {
  margin-bottom: 76px;
}
