#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}

#modal .modal-wrap {
  padding: 70px 100px;
  background-color: #fff;
  border-radius: 20px;
  color: #5b2386;

  /* 컨텐츠의 크기만큼 줄임 */
  display: inline-block;
}

#modal .modal-wrap h2 {
  font-size: 60px;
}

#modal .modal-wrap h3 {
  font-size: 30px;
}

#modal .modal-wrap img {
  max-width: 340px;
  margin: 0 auto 20px;
}
