@mixin pri-button($width, $height, $radius:10px) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: aqua;
}

@mixin pri-button_($width:100px, $height:50px, $radius:10px) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: aqua;
}

.btn {
    // 위에서 차례대로 width, height, radius값을 넣어 변경
    @include pri-button(100px, 50px, 20px)
}

.btn_ {
    // 위에서 차례대로 width, height 값을 넣었는데 마지막 값을 안줬을 경우 radius:10px 값이 그대로 들어간다.
    @include pri-button(100px, 50px)
}

.btn__ {
    // 위에서 차례대로 값을 받았으나 height 값에 null을 주면 height 값 자체를 주지 않는 것으로 함.
    @include pri-button(100px, null, 20px)
}

.btn__ {
    @include pri-button_(100px, null, 20px)
}

// 중앙값 비우기
.btn__ {
    @include pri-button_(100px, $radius:20px)
}