.body,
p,
h1 {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  display: flex; 
  max-width: calc(100% - 60px);
  min-width: 400px;
  background: skyblue;
}

.section-text h1 {
  color: #121314;
  font-weight: normal;

  /* 변동값 70 70 36 */
  font-size: 70px;
}

.section-text p {
  color: #47494d;

  /* 변동값 70 70 36 */
  font-size: 20px;

  /* 변동값 20 20 14 */
  margin-top: 20px;
}

.container .section-text {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-media,
.img-document {
  border-radius: 20px;
  color: white;

  aspect-ratio: 486 / 280;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px 30px 40px;
}

.img-media {
  background: url("/img/Frame2.svg") no-repeat 0 0 / cover;
  box-shadow: inset 0 0 10px red;
}

.img-document {
  background: url("/img/Frame2.svg") no-repeat 0 0 / cover;
  box-shadow: inset 0 0 10px red;
}

.img-media strong,
.img-document strong {
  /* 변동값 30 24 20 */
  font-size: 30px;
}

.img-media span,
.img-document span {
  align-self: flex-end;
}